/* должно быть 41px, 
но тогда нижние блоки едут на 4px*/
.header {
    margin: 45px 0 0;
    padding: 0 0 37px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7); 
  }
  
  @media screen and (max-width: 539px) {
    .header {
      margin: 28px 0 0;
      padding: 0 0 31.6px;
    }
  }